$sider-width: 20rem;
$header-heigh: 4rem;
$footer-heigh: 4rem;

@function px2rem($px) {
  @return ($px / 16) * 1rem;
}

@mixin light-theme {
  --text-color-white: #ffffff;
  --text-color-black: #000000;

  --foreground: #000000;
  --bg-base: #ffffff;

  --color-primary: #1890ff;
  --header-bg-color: #ffffff;
  --border-color: #f0f0f0;

  --border-radius: 0.5rem;

  // layout
  --bg-color-lt: #f8faff;
  --bg-color-rb: #e0e7ff;

  --text-primary-color: #111827;
  --text-secondary-color: : #4b5563;

  // HomePage
  --card-bg-color: rgba(255, 255, 255, 0.8);

  --primary-button-bg-color: #4f46e5;
  --primary-button-hover-bg-color: #4338ca;
  --secondary-button-bg-color: #ffffff;
  --secondary-button-color: #111827;
  --secondary-button-border-color: #e5e7eb;
  --secondary-button-hover-bg-color: #f9fafb;

  // dashboard
  --card-background: #ffffff;

  // 电池条背景色
  --battery-bg: rgba(0, 202, 255, 0.2);
  // 电池分割线颜色
  --battery-slice-color: #ffffff;
  --battery-label-color: #000000;

  // 默认渐变色
  --battery-color-start: #1890ff;
  --battery-color-end: #69c0ff;
}

@mixin dark-theme {
  --background: rgb(255, 255, 255);
  --foreground: #ffffff;
  --bg-base: #3f4054;

  --header-bg-color: #3f4054;
  --border-color: '';

  // layout
  --bg-color-lt: #111827;
  --bg-color-rb: #1e1b4b;

  --text-primary-color: #ffffff;
  --text-secondary-color: #d1d5db;

  // HomePage

  --card-bg-color: rgba(31, 41, 55, 0.8);

  --secondary-button-bg-color: #374151;
  --secondary-button-color: #ffffff;
  --secondary-button-border-color: #4b5563;
  --secondary-button-hover-bg-color: #4b5563;

  // dashboard
  --battery-bg: rgba(255, 255, 255, 0.08);
  --battery-color-start: #177ddc;
  --battery-color-end: #3c9ae8;

  // dashboard
  // card bg相同

  // 电池条背景色
  --battery-bg: rgba(0, 202, 255, 0.2);
  // 电池分割线颜色
  --battery-slice-color: #000000;
  --battery-label-color: #ffffff;

  // 默认渐变色
  --battery-color-start: #1890ff;
  --battery-color-end: #69c0ff;
}

// 使用scss变量创建css变量
:root {
  @include light-theme;
}
// 暗色主题
:global([data-mode='dark']) {
  @include dark-theme;
}
