@tailwind base;
@tailwind components;
@tailwind utilities;

/* 整体滚动条样式 */
::-webkit-scrollbar {
  width: 0.5rem; /* 滚动条宽度 */
  height: 0.5rem; /* 横向滚动条高度 */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 20%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

.dark {
  --background: black;
  --foreground: white;
}
